.header {
  text-align: center;
  background-image: linear-gradient(to right, #66b3ff, #b3d9ff);
  margin-top: 0;
  padding: 3%;
}

.body {
  padding-left: 2%;
}

.message {
  font-size: 1.2vw;
  margin-top: 0.1%;
  font-weight: bold;
}

.bodyTop {
  padding-bottom: 1%;
}

.guesses {
  margin-bottom: 0;
}

form {
  display: flex;
  align-items: flex-end;
}

button {
  margin-left: 1%;
  display: inline-block;
  height: 4vh;
}

label {
  font-size: 1.1vw;
  font-weight: bold;
}

input {
  height: 3vh;
  width: 15vw;
}

input,
label {
  display: block;
}

li {
  font-weight: bold;
}

@media (min-width: 350px) and (max-width: 800px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  label {
    font-size: 1.5vw;
  }

  input {
    height: 3vh;
    width: 20vw;
  }

  button {
    margin-left: 3%;
  }

  .message {
    font-size: 1.4vw;
    text-align: center;
  }
}
